{% extends 'base.html' %}

{% block header %}
    <h1>Add Post for {{user.first_name}} {{user.last_name}}</h1>
{% endblock %}

{% block content %}
<form action="/users/{{user.id}}/posts/new" id="new-post" method="POST">
    <p>Title<br>
    <input type="text" name="title" id="title">
    </p>
    <br>
    <p>Content<br>
    <input type="text" name="content" id="content">
    </p>
    <br>
    <a href='/users/{{user.id}}'><button type="button">Cancel</button></a>
    <button type="submit">Add</button>
</form>

{% endblock %}