{% extends 'base.html' %}

{% block header %}
    <img src="{{user.image_url}}" alt="profile picture">
    <h2>{{user.first_name}} {{user.last_name}}</h2>
{% endblock %}

{% block content %}
<form action="/users/{{user.id}}/delete" method="POST">
    <a href="/users/{{user.id}}/edit"><button type="button">Edit</button></a>
    <button>Delete</button>
</form>
<br>
<h3>Posts</h3>
<ul>
    {% for post in posts %}
    <li><a href="/posts/{{post.id}}">{{post.title}}</a></li>
    {% endfor %}
</ul>
<a href="/users/{{user.id}}/posts/new"><button>Add post</button></a>
<br>
<br>
<a href="/users"><button>Back</button></a>

{% endblock %}